body{
    text-align: center;
    margin: auto;
    background-color: purple;
    color: white;
    max-width: 800px;
    margin-right: px;
}

h1{
    font-size: 80px;
}

h1:hover{
    color: black;
}
h2{
    font-size: 100px;
}

.div1{
    margin: 20px;
}
a{
    color: white;
}